<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      lista de componentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list inset="true">
    <ion-item>
      <ion-button shape="round" routerLink="/alert">Alerta<ion-icon name="alert-circle-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-item>
      <ion-button shape="round " routerLink="/card">Card<ion-icon name="list-circle-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-item>
      <ion-button shape="round " routerLink="/checkbox">CheckBox<ion-icon name="menu-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-item>
      <ion-button shape="round " routerLink="/input">Input<ion-icon name="alert-circle-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>


</ion-content>